<%- include('../partial/header') %>

<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
  <form role="search">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search" />
    </div>
  </form>
  <ul class="nav menu">
    <li>
      <a href="/admin/dashboard"><svg class="glyph stroked dashboard-dial">
          <use xlink:href="#stroked-dashboard-dial"></use>
        </svg>
        Dashboard</a>
    </li>
    <li>
      <a href="/admin/users"><svg class="glyph stroked bag">
          <use xlink:href="#stroked-app-window"></use>
        </svg> Quản lý thành viên</a>
    </li>
    <li>
      <a href="/admin/categories"><svg class="glyph stroked bag">
          <use xlink:href="#stroked-app-window"></use>
        </svg> Quản lý danh mục</a>
    </li>
    <li>
      <a href="/admin/products"><svg class="glyph stroked bag">
          <use xlink:href="#stroked-app-window"></use>
        </svg> Quản lý sản phẩm</a>
    </li>
    <li>
      <a href="/admin/comments"><svg class="glyph stroked bag">
          <use xlink:href="#stroked-app-window"></use>
        </svg> Quản lý bình luận</a>
    </li>
    <li class="active">
      <a href="/admin/orders"><svg class="glyph stroked bag">
          <use xlink:href="#stroked-app-window"></use>
        </svg> Quản lý đơn hàng</a>
    </li>
    <li>
      <a href="/admin/sliders"><svg class="glyph stroked bag">
          <use xlink:href="#stroked-app-window"></use>
        </svg> Quản lý slider</a>
    </li>
    <li>
      <a href="/admin/banners"><svg class="glyph stroked bag">
          <use xlink:href="#stroked-app-window"></use>
        </svg> Quản lý quảng cáo</a>
    </li>
  </ul>
</div>
<!--/.sidebar-->

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
  <div class="row">
    <ol class="breadcrumb">
      <li>
        <a href="/admin/dashboard"><svg class="glyph stroked home">
            <use xlink:href="#stroked-home"></use>
          </svg></a>
      </li>
      <li class="active">Danh sách đơn hàng</li>
    </ol>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Danh sách đơn hàng</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <table data-toolbar="#toolbar" data-toggle="table" class="table table-bordered">
            <thead>
              <tr>
                <th data-field="id" data-sortable="true">ID</th>
                <th data-field="name" data-sortable="true">Tên người mua</th>
                <th data-field="price" data-sortable="true">Email người mua</th>
                <th>Số điện thoại</th>
                <th>Tổng giá tiền</th>
                <th>Tiến trình giao hàng</th>
                <th>Hành động</th>
              </tr>
            </thead>
            <tbody>
              <% if (orders?.length===0) { %>
              <tr>
                <td colspan="6" class="text-center">Không có đơn hàng nào.</td>
              </tr>
              <% } else { %>
              <% orders?.forEach((order, index)=> { %>
              <tr>
                <td>
                  <%= order?._id %>
                </td>
                <td>
                  <%= order?.full_name %>
                </td>
                <td>
                  <%= order?.email %>
                </td>
                <td>
                  <%= order?.phone_number %>
                </td>
                <td>
                  <%= order?.totalPrice.toLocaleString() %> VNĐ
                </td>
                <td>
                  <% if (order?.status===0) { %>
                  <span class="label label-danger">Đơn bị hủy</span>
                  <% } else if (order.status===1) { %>
                  <span class="label label-default">Đang giao</span>
                  <% } else { %>
                  <span class="label label-success">Đã giao hàng</span>
                  <% } %>
                </td>
                <td class="form-group">
                  <a href="/admin/orders/edit/<%= order?._id %>" class="btn btn-primary">
                    <i class="glyphicon glyphicon-pencil"></i>
                  </a>
                  <a href="/admin/orders/delete/<%= order?._id %>" class="btn btn-danger" onclick="return confirm('Bạn có chắc chắn muốn xoá bình luận này không?');">
                    <i class="glyphicon glyphicon-remove"></i>
                  </a>
                </td>
              </tr>
              <% }) %>
              <% } %>
            </tbody>
          </table>
        </div>

        <% if (pages?.totalPages >= 1) { %>
        <div class="panel-footer">
          <nav aria-label="Page navigation">
            <ul class="pagination">
              <% if (pages?.hasPrev) { %>
              <li class="page-item">
                <a class="page-link" href="?page=<%= pages?.prev %>">&laquo;</a>
              </li>
              <% } else { %>
              <li class="page-item disabled">
                <span class="page-link">&laquo;</span>
              </li>
              <% } %>

              <% for (let i = 1; i <= pages?.totalPages; i++) { %>
              <li class="page-item <%= i === pages?.currentPage ? 'active' : '' %>">
                <a class="page-link" href="?page=<%= i %>"><%= i %></a>
              </li>
              <% } %>

              <% if (pages?.hasNext) { %>
              <li class="page-item">
                <a class="page-link" href="?page=<%= pages?.next %>">&raquo;</a>
              </li>
              <% } else { %>
              <li class="page-item disabled">
                <span class="page-link">&raquo;</span>
              </li>
              <% } %>
            </ul>
          </nav>
        </div>
        <% } %>
      </div>
    </div>
  </div>
</div>

<%- include('../partial/footer') %>