<%- include('../partial/header') %>

<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
  <form role="search">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search" />
    </div>
  </form>
  <ul class="nav menu">
    <li>
      <a href="/admin/dashboard"><svg class="glyph stroked dashboard-dial">
          <use xlink:href="#stroked-dashboard-dial"></use>
        </svg>
        Dashboard</a>
    </li>
    <li>
      <a href="/admin/users"><svg class="glyph stroked bag">
          <use xlink:href="#stroked-app-window"></use>
        </svg> Quản lý thành viên</a>
    </li>
    <li>
      <a href="/admin/categories"><svg class="glyph stroked bag">
          <use xlink:href="#stroked-app-window"></use>
        </svg> Quản lý danh mục</a>
    </li>
    <li>
      <a href="/admin/products"><svg class="glyph stroked bag">
          <use xlink:href="#stroked-app-window"></use>
        </svg> Quản lý sản phẩm</a>
    </li>
    <li>
      <a href="/admin/comments"><svg class="glyph stroked bag">
          <use xlink:href="#stroked-app-window"></use>
        </svg> Quản lý bình luận</a>
    </li>
    <li>
      <a href="/admin/orders"><svg class="glyph stroked bag">
          <use xlink:href="#stroked-app-window"></use>
        </svg> Quản lý đơn hàng</a>
    </li>
    <li>
      <a href="/admin/sliders"><svg class="glyph stroked bag">
          <use xlink:href="#stroked-app-window"></use>
        </svg> Quản lý slider</a>
    </li>
    <li class="active">
      <a href="/admin/banners"><svg class="glyph stroked bag">
          <use xlink:href="#stroked-app-window"></use>
        </svg> Quản lý quảng cáo</a>
    </li>
  </ul>
</div>

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
  <div class="row">
    <ol class="breadcrumb">
      <li><a href="/admin/dashboard"><svg class="glyph stroked home">
            <use xlink:href="#stroked-home"></use>
          </svg></a></li>
      <li class="active">Danh sách quảng cáo</li>
    </ol>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Danh sách quảng cáo</h1>
    </div>
  </div>

  <div id="toolbar" class="btn-group">
    <a href="/admin/banners/add" class="btn btn-success">
      <i class="glyphicon glyphicon-plus"></i> Thêm quảng cáo
    </a>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <table data-toolbar="#toolbar" data-toggle="table" class="table table-bordered">
            <thead>
              <tr>
                <th>ID</th>
                <th>URL</th>
                <th>Ảnh quảng cáo</th>
                <th>Trạng thái</th>
                <th>Hành động</th>
              </tr>
            </thead>
            <tbody>
              <% if (banners.length === 0) { %>
              <tr>
                <td colspan="6" class="text-center">Không có quảng cáo nào.</td>
              </tr>
              <% } else { %>
              <% banners.forEach((banner, index) => { %>
              <tr>
                <td><%= banner._id %></td>
                <td><a href="<%= banner.url %>" target="_blank"><%= banner.url %></a></td>
                <td style="text-align: center">
                  <img width="250" src="http://localhost:7979/static/images/<%= banner.image %>" alt="Banner <%= banner.position %>" />
                </td>
                <td>
                  <% if (banner.public) { %>
                  <span class="label label-success">Hoạt động</span>
                  <% } else { %>
                  <span class="label label-default">Ẩn</span>
                  <% } %>
                </td>
                <td class="form-group">
                  <a href="/admin/banners/edit/<%= banner._id %>" class="btn btn-primary">
                    <i class="glyphicon glyphicon-pencil"></i>
                  </a>
                  <a href="/admin/banners/delete/<%= banner._id %>" class="btn btn-danger" onclick="return confirm('Bạn có chắc chắn muốn xoá banner này không?');">
                    <i class="glyphicon glyphicon-remove"></i>
                  </a>
                </td>
              </tr>
              <% }) %>
              <% } %>
            </tbody>
          </table>
        </div>

        <% if (pages?.totalPages >= 1) { %>
        <div class="panel-footer">
          <nav aria-label="Page navigation">
            <ul class="pagination">
              <% if (pages?.hasPrev) { %>
              <li class="page-item">
                <a class="page-link" href="?page=<%= pages?.prev %>">&laquo;</a>
              </li>
              <% } else { %>
              <li class="page-item disabled">
                <span class="page-link">&laquo;</span>
              </li>
              <% } %>

              <% for (let i = 1; i <= pages?.totalPages; i++) { %>
              <li class="page-item <%= i === pages?.currentPage ? 'active' : '' %>">
                <a class="page-link" href="?page=<%= i %>"><%= i %></a>
              </li>
              <% } %>

              <% if (pages?.hasNext) { %>
              <li class="page-item">
                <a class="page-link" href="?page=<%= pages?.next %>">&raquo;</a>
              </li>
              <% } else { %>
              <li class="page-item disabled">
                <span class="page-link">&raquo;</span>
              </li>
              <% } %>
            </ul>
          </nav>
        </div>
        <% } %>
      </div>
    </div>
  </div>
</div>

<%- include('../partial/footer') %>